---
import Layout from "/src/layouts/Layout.astro";
import '@/styles/home.css';
import { getCollection } from 'astro:content';
const blogs = (await getCollection('news', ({ data }) => {
  return data.isDraft !== true;
})).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="Organisation">
    <section class="">
    <div class="text-content mx-auto max-w-[800px]">
        <h2 class="section-title">News</h2>
        <ul class="blogs">
        {blogs.map((blog) =>
            <li>
            <article class="pages-link pages-content py-5">          
                <a href={blog.slug}><img src={blog.data.img} alt="" /></a>
                <p class="py-3">{blog.data.date}</p>
                <a href={'/elixir-no-webpages/news/' + blog.slug}>{blog.data.title}</a>
                <p class="py-3">{blog.data.description}</p>
                [<a href={'/elixir-no-webpages/news/' + blog.slug} class="">Read more</a>]
            </article>            
            </li>
        )}
        </ul>
    </div>
    </section>
</Layout>